@import "tailwindcss";

@layer base {
  body {
    @apply font-sans bg-[#f3f4f6] text-[#07073b];

  }

  button,
  [role="button"],
  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    @apply cursor-pointer;
  }


}
@layer utilities {
  /* Gradientes personalizados */
  .gradient-primary {
    background: #1fb74d;
  }

  .gradient-secondary {
    background: #168a3d;
  }

  /* Animaciones personalizadas */
  .animate-fade-in {
    animation: fadeIn 0.5s ease-in;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-slide-in {
    animation: slideIn 0.3s ease-out;
  }

  @keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
}



